Programming Assignment 2/flows.json
[
    {
        "id": "2bb68a1b4254251d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d50742373a45b25a",
        "type": "mqtt in",
        "z": "2bb68a1b4254251d",
        "name": "",
        "topic": "CSE-ADMIN-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "6ada31f79f7512d5",
                "8966d842c0e06d32"
            ]
        ]
    },
    {
        "id": "6ada31f79f7512d5",
        "type": "ui_gauge",
        "z": "2bb68a1b4254251d",
        "name": "",
        "group": "adfb9ff1ab0faa9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "8966d842c0e06d32",
        "type": "ui_chart",
        "z": "2bb68a1b4254251d",
        "name": "",
        "group": "adfb9ff1ab0faa9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a7b81f6c4426cd9a",
        "type": "ui_switch",
        "z": "2bb68a1b4254251d",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "a367432217a1b766",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "6011988b92e77931"
            ]
        ]
    },
    {
        "id": "6011988b92e77931",
        "type": "mqtt out",
        "z": "2bb68a1b4254251d",
        "name": "",
        "topic": "CSE-ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "286ceb7952f3f08b",
        "type": "change",
        "z": "2bb68a1b4254251d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 760,
        "wires": [
            [
                "722280c3c8f89fa8"
            ]
        ]
    },
    {
        "id": "39c416b59df66ae8",
        "type": "ui_date_picker",
        "z": "2bb68a1b4254251d",
        "name": "",
        "label": "ON",
        "group": "e299e376d06449ff",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "773ed992b0746103"
            ]
        ]
    },
    {
        "id": "08a131272a4784da",
        "type": "ui_text_input",
        "z": "2bb68a1b4254251d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e299e376d06449ff",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "3b310c4c7a9c0e80"
            ]
        ]
    },
    {
        "id": "773ed992b0746103",
        "type": "change",
        "z": "2bb68a1b4254251d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 840,
        "wires": [
            [
                "722280c3c8f89fa8"
            ]
        ]
    },
    {
        "id": "3b310c4c7a9c0e80",
        "type": "change",
        "z": "2bb68a1b4254251d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "722280c3c8f89fa8"
            ]
        ]
    },
    {
        "id": "722280c3c8f89fa8",
        "type": "function",
        "z": "2bb68a1b4254251d",
        "name": "function 6",
        "func": "let isScheduled=global.get(\"isScheduled\");\nlet scheduledDate = global.get(\"scheduledDate\");\nlet scheduledTime = global.get(\"scheduledTime\");\n\nif (isScheduled && scheduledDate && scheduledTime){\n    let schedule = scheduledDate + scheduledTime;\n\n    if (Date.now()>schedule){\n        return {\n            payload: \"OLDER\"\n        }\n    }else{\n        return {\n            payload: schedule\n        }\n    }\n}\nelse if (isScheduled===false){\n    return {\n        payload: \"NOT-SCHEDULED-ON\"\n    }\n}\nelse{\n    return{\n        payload: null\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 840,
        "wires": [
            [
                "e4ebe7ecb84d2533"
            ]
        ]
    },
    {
        "id": "e4ebe7ecb84d2533",
        "type": "switch",
        "z": "2bb68a1b4254251d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 990,
        "y": 840,
        "wires": [
            [
                "517b0dab43785b99"
            ],
            [
                "1d221ae0698434b5"
            ],
            [
                "ea407b92996b6a6e"
            ],
            [
                "9f234f85600f37fb"
            ]
        ]
    },
    {
        "id": "517b0dab43785b99",
        "type": "function",
        "z": "2bb68a1b4254251d",
        "name": "function 7",
        "func": "return{\n    payload: \"NOT\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 740,
        "wires": [
            [
                "6d16b38c9d5858dd"
            ]
        ]
    },
    {
        "id": "ea407b92996b6a6e",
        "type": "function",
        "z": "2bb68a1b4254251d",
        "name": "function 8",
        "func": "return{\n    payload: Math.round(msg.payload/1000)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 800,
        "wires": [
            [
                "6d16b38c9d5858dd"
            ]
        ]
    },
    {
        "id": "1d221ae0698434b5",
        "type": "function",
        "z": "2bb68a1b4254251d",
        "name": "function 9",
        "func": "return{\n    payload: \"Please enter a future time\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 880,
        "wires": [
            [
                "3e47b512edd8cb79"
            ]
        ]
    },
    {
        "id": "3e47b512edd8cb79",
        "type": "ui_toast",
        "z": "2bb68a1b4254251d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1530,
        "y": 900,
        "wires": []
    },
    {
        "id": "9f234f85600f37fb",
        "type": "function",
        "z": "2bb68a1b4254251d",
        "name": "function 10",
        "func": "return{\n    payload: \"Please enter a valid date and time\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 940,
        "wires": [
            [
                "3e47b512edd8cb79"
            ]
        ]
    },
    {
        "id": "6c4ed9dbe4438d02",
        "type": "ui_switch",
        "z": "2bb68a1b4254251d",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "e299e376d06449ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "286ceb7952f3f08b"
            ]
        ]
    },
    {
        "id": "6d16b38c9d5858dd",
        "type": "mqtt out",
        "z": "2bb68a1b4254251d",
        "name": "",
        "topic": "CSE-ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 1540,
        "y": 760,
        "wires": []
    },
    {
        "id": "eb5aead247cc7eb6",
        "type": "mqtt in",
        "z": "2bb68a1b4254251d",
        "name": "ESP-ON-OFF",
        "topic": "CSE-ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 380,
        "wires": [
            [
                "ec84e1e5bb33ac1d"
            ]
        ]
    },
    {
        "id": "3f33ada4301f2669",
        "type": "mqtt in",
        "z": "2bb68a1b4254251d",
        "name": "SCH-ESP-ON",
        "topic": "CSE-ADMIN-SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "c479feb45e888550"
            ]
        ]
    },
    {
        "id": "c479feb45e888550",
        "type": "function",
        "z": "2bb68a1b4254251d",
        "name": "function 11",
        "func": "\nreturn {\n    payload: msg.payload===1\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 660,
        "wires": [
            [
                "6c4ed9dbe4438d02"
            ]
        ]
    },
    {
        "id": "ec84e1e5bb33ac1d",
        "type": "function",
        "z": "2bb68a1b4254251d",
        "name": "function 12",
        "func": "if (msg.payload==1){\n    return{\n        payload: '1'\n    }\n}else{\n    return{\n        payload: '0'\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 380,
        "wires": [
            [
                "a7b81f6c4426cd9a"
            ]
        ]
    },
    {
        "id": "9b42f36e2f16ee94",
        "type": "mqtt in",
        "z": "2bb68a1b4254251d",
        "name": "",
        "topic": "CSE-ADMIN-LIGHT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5698786a385e05ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "76f30e01293b84f1",
                "466b153d9e6f3bef"
            ]
        ]
    },
    {
        "id": "76f30e01293b84f1",
        "type": "ui_gauge",
        "z": "2bb68a1b4254251d",
        "name": "",
        "group": "aec5975599843f99",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "466b153d9e6f3bef",
        "type": "ui_chart",
        "z": "2bb68a1b4254251d",
        "name": "",
        "group": "aec5975599843f99",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac31063e0da1c39",
        "type": "ui_slider",
        "z": "2bb68a1b4254251d",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "a6ab9ea48d8c1571",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": "0.5",
        "className": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "9273be2237e181a7"
            ]
        ]
    },
    {
        "id": "3ac8d4edeaa4a6dd",
        "type": "ui_slider",
        "z": "2bb68a1b4254251d",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "a6ab9ea48d8c1571",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "de8f83044fc1ad13"
            ]
        ]
    },
    {
        "id": "9273be2237e181a7",
        "type": "mqtt out",
        "z": "2bb68a1b4254251d",
        "name": "",
        "topic": "CSE-ADMIN-MINI-ANG",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "de8f83044fc1ad13",
        "type": "mqtt out",
        "z": "2bb68a1b4254251d",
        "name": "",
        "topic": "CSE-ADMIN-CON-FAC",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5698786a385e05ee",
        "x": 390,
        "y": 560,
        "wires": []
    },
    {
        "id": "98a832de04547a29",
        "type": "ui_spacer",
        "z": "2bb68a1b4254251d",
        "name": "spacer",
        "group": "aec5975599843f99",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "5698786a385e05ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "adfb9ff1ab0faa9e",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "bafbba5121f34554",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a367432217a1b766",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "bafbba5121f34554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e299e376d06449ff",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "bafbba5121f34554",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aec5975599843f99",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "bafbba5121f34554",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6ab9ea48d8c1571",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "bafbba5121f34554",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bafbba5121f34554",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]